<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK NOW</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <center>
        <h1>WELCOME</h1>
        <a href="#" class="btn btn-danger">BOOK HERE</a>
    </center>
        <hr>
    <center>
        <form>
            <table>
                <tr>
                    <td>CHECK-IN:</td> <td><input type="number" placeholder="ENTER THE DATE"></td>
                </tr>
                <tr>
                    <td>CHECK-OUT:</td> <td><input type="number" placeholder="ENTER THE DATE"></td>
                </tr>
                
                <tr>
                    <td>ADULT:</td> <td><input type="number" placeholder="ENTER YOUR NUMBER"
                        <span class="input-group-addon" ng-click="openDatepicker()">
                            <i class="glyphicon glyphicon-calendar"></i></span>></td>

                </tr>
            
                <tr>
                    <td>CHILDREN:</td> <td><input type="number" placeholder="ENTER YOUR NUMBER"
                        <span class="input-group-addon" ng-click="openDatepicker()">
                        <i class="glyphicon glyphicon-calendar"></i></span>></td>

                </tr>
                
                <tr>
                    <td>INFANT:</td> <td><input type="number" placeholder="ENTER YOUR NUMBER"
                        <span class="input-group-addon" ng-click="openDatepicker()">
                        <i class="glyphicon glyphicon-calendar"></i></span>></td>

                </tr>
                
                <tr>
                    <td>Email-id:</td> <td><input type="text" placeholder="ENTER YOUR EMAIL-ID"></td>

                </tr>
                </table>
        </form>
   </center>
   <br/>
   <center>
    <a href="index.html" class="btn btn-success">BACK</a>
   </center>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script> 
    
</body>
</html>